:root {
    --line-height-default: 1;

    --font-family-sans-serif: Arial, Helvetica, sans-serif;
    --font-family-serif: Geneva, Georgia, 'Times New Roman', serif;
    --font-family-custom: FONT_NAME, Arial, Helvetica, sans-serif;

    --font-size-default: 1rem;
}
